body { 
    background-image: url("images/Careers-header.jpg");
}
​
#mainNavbar {
	font-size: 1.5rem;
    font-weight: 100;
    height: 70px;
}
​
#mainNavbar a {
    color: white !important;
    font-size: medium !important;
}
​
.dropdown-item {
    background-color: #2d4870;
}
​
.navbar.scrolled {
	background: #212326;
    transition: background 500ms;
}
​
.dropdown-item:hover {
    background-color: rgb(53, 103, 161);
}